<div class="form-signin w-100 m-auto">
    @using (Html.BeginForm("LogIn", "Auth"))
    {
        <h1 class="fs-3 mb-4 fw-light text-center">Hello Again!</h1>
        @Html.AntiForgeryToken()

        <div class="form-floating">
            <input type="text" class="form-control border-top-left-radius border-top-right-radius" id="username" placeholder="name@example.com" name="username" required>
            <label for="username">Email or username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" minlength="6" maxlength="20">
            <label for="password">Password</label>
        </div>
        <button class="w-100 mt-3 btn btn-outline-primary" type="submit">Sign in</button>
    }
</div>